{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "generators": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "eqeqeq": 2,
        "no-console": 0
    },
    "globals": {
    }
}
